/* =====================

"ESTIMOTE FOR DEVELOPERS STYLESHEET"

INDEX:
1. Generic
2. Header
3. Breadcrumb
4. API
5. Footer
6. >> Reference <<
7. >> Distance app <<
----
*. Media Queries

===================== */

/* 1. GENERIC */

.row {
  margin-right: 0;
  margin-left: 0;
}

body {
  font: normal normal normal 16px/22px "SlateStd-Bk", sans-serif;
  color: #333132;
  -webkit-font-smoothing: antialiased;
}

h1 { 
  font: normal normal normal 36px "BrandonText-Medium", sans-serif;
  margin-bottom: 10px;
  line-height: 42px;
}

h2 {
  font: normal normal normal 22px "BrandonText-Medium", sans-serif;
  margin-bottom: 14px;
}

h3 {
  font: normal normal normal 20px "BrandonText-Medium", sans-serif;
  margin-top: 40px;
}

h4 {
  font: normal normal normal 18px "BrandonText-Medium", sans-serif;
  margin-top: 32px;
}

a, a:hover {
  color: #5cadce;
}

.btn-api {
  background: #5cadce;
  border: none;
}

pre {
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.syntax {
  font: normal normal normal 14px/22px Monaco, serif;
}

.syntax a {
  color: #5cadce;
}

.italic {
  font-style: italic;
}


/* 2. HEADER */

#nav {
  background: transparent url('../images/nav.png') no-repeat top right;
  position: relative;
  height: 145px;
  border: none;
  margin-bottom: 0;
}

#branding {
  background: transparent url('../images/branding.png') no-repeat;
  width: 270px;
  height: 115px;
  margin-top: 5px;
  margin-left: 45px;
}

#branding a, #branding a:link, #branding a:hover {
  float: left;
  width: 270px;
  height: 115px;
  border: none;
  text-indent: -9999px;
}

#nav ul {
  margin-top: 62px;
  margin-left: 80px;
  z-index:99;
}

#nav ul li {

}

#nav a {
  color: #333132;
  padding: 9px 20px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  font: normal normal normal 16px/1 "BrandonText-Medium", sans-serif;  
  text-transform: lowercase;
}

#nav a:hover, #nav a:focus, #nav a.active, #nav a.home,
#nav a.preorder, #nav a.retail, #nav a.contact {
  border-color: #454545;
}

#nav .navbar-collapse {
  border-top: 0;
}

#nav .navbar-toggle {
  margin-top: 55px;
  margin-right: 35px;
  border: 1px solid #454545;
}

#nav .navbar-toggle .icon-bar {
  background-color: #454545;
}

#nav-small {
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  background: #5cadce;
  z-index: 99;
}

#nav-small h2 {
  font: normal normal normal 24px "BrandonText-Medium", sans-serif;
  color: #fff;
  line-height: 65px;
  margin: 0;
}

#nav-small .branding {
  background: transparent url(../images/branding-api-small.png) no-repeat;
  width: 101px;
  height: 20px;
  margin-top: 20px;
}


/* 3. BREADCRUMB */

#breadcrumb.jumbotron {
  background: #5cadce;
  height: 170px;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

#breadcrumb.jumbotron h1 {
  font-size: 36px;
  color: #fff;
  line-height: 170px;
  margin: 0;
}


/* 4. API */

#api .nav {
  margin-top: 30px;
  margin-left: -10px;
}

#api .nav.stick {
  position: fixed;
  top: 60px;
}

#api .nav li a {
  font: normal normal normal 16px, sans-serif;
  color: #323232;
  padding: 5px 10px;
}

#api .nav li a:hover, #api .nav li a.active {
  color: #5cadce;
}

#api .nav .submenu {
  padding-left: 20px;
  list-style: none;
}

#api .nav .submenu-2 {
  padding-left: 40px;
  list-style: none;
}

#api .nav .submenu li {
  padding: 4px 0;
}

#api .nav .submenu li:first-child {
  padding-top: 0;
}

#api .nav .submenu li:last-child {
  padding-bottom: 0;
}

#api .nav .submenu a, #api .nav .submenu-2 a {
  color: #696969;
}

#api .nav .submenu a.active, #api .nav .submenu-2 a.active {
  color: #696969;
  font-weight: bold;
}

#api .content {
  margin-bottom: 70px;
}

#api .content h2 {
  margin-top: 50px;
}

#api .content h2:first-child {
  margin-top: 50px;
}

#api .content .img-row {
  padding-right: 0;
}

#api .content .img-sensor-elements {
  padding-top: 10px;
}

#api .btn-api {
  margin-top: 20px;
}

#api a.appstore {
  display: block;
  height: 40px;
  width: 135px;
  background: url('../images/appstore.png') no-repeat;
  margin-top: 40px;
}

#api .apps {
  margin-top: 40px;
}

#api .apps .apps-tut {
  padding-left: 0;
}

#api .screens {
  margin-top: 50px;
}

#api .screens img {
  border: 1px solid #eee;
}


/* 5. FOOTER */

#footer {
  background: #80BC9F;
  padding: 40px 0;
  z-index: 99;
  overflow: auto;
}

#footer ul {
  font-size: 16px;
  margin: 0;
  padding-left: 0;
}

#footer ul > li {
  list-style-type: none;
}

#footer ul a {
  color: #fff;
}

#footer address {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
}

#footer p {
  color: #fff;
  margin: 0;
  padding: 32px 0 0;
  opacity: .6;
}


/* 6. >> TUTORIALS << */

#tutorials .btn-api {
  margin-top: 20px;
}

#tutorials .apps {
  margin-top: 70px;
}


/* 7. >> REFERENCE << */

#reference table.classes {
  margin-top: 20px;
  border-bottom: 1px solid #dddddd
}

#reference table.classes td {
  padding: 20px 10px;
}

/* #reference table.classes .syntax {
  font: normal normal normal 14px/22px Monaco, serif;
}

#reference table.classes .syntax a {
  color: #5cadce;
} */


/* 8. >> TUTORIAL APPS << */

p.tut {
  padding-bottom: 4px;
}


/* ===================== */

/**** *. MEDIA QUERIES ****/

/* RETINA IMAGES */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  #nav {
    background: url('../images/nav@2x.png') no-repeat top right;
    background-size: 331px 98px;
  }

  #nav #branding {
    background: url('../images/branding.png') no-repeat;
    background-size: 270px 115px;
  }

  #nav-small .branding {
    background: url('../images/branding-api-small@2x.png') no-repeat;
    background-size: 101px 20px;
  }

  #api a.appstore {
    background: url('../images/appstore.png') no-repeat;
    background-size: 135px 40px;
  }

}

@media (max-width: 1279px) {

  #nav {
    background: none;
  }

  #api .nav.stick {
    position: relative;
    margin-top: 60px;
  }

}
