@CHARSET "UTF-8";

body {
	font-family: "宋体", Arial;
	line-height: 13px;
	background: #fff;
	color: #000;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	list-style: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
	color: red;
}

.box,.box>.head,.box .head a:hover,.head>.middlel,.head>a>i {
	background-image: url("/statics/images/new.png");
}

.box {
	background-position: 1px -190px;
	width: 700px;
	height: 380px;
	margin: 0 auto;
	display: inline-block;
}

.head {
	background-position: 0 -12px;
	width: 686px;
	height: 38px;
	margin-top: 6px;
	display: inline-block;
}

.head>a {
	display: block;
	float: left;
	width: 76px;
	height: 38px;
	line-height: 38px;
	color: #a1a1a1;
	font-size: 16px;
	position: relative;
}
.head > a:hover{
	text-decoration: none;
}

.leftb {
	background-position: 0 -59px;
}

.rightb {
	background-position: -608px -59px;
}

.middleb {
	background-position: -76px -59px;
}

.head  .middlel {
	background-position-y: -106px;
	color: #ffffff;
}

.head a i {
	width: 22px;
	height: 11px;
	position: absolute;
	top: 35px;
	display: inline-block;
}

.head a i.icon {
	background-position: -8px -162px;
}

.box .content {
	width: 668px;
	height: 300px;
	padding: 10px;
	display: inline-block;
}

.content .left {
	width: 210px;
	height: 300px;
	float: left;
}

.content .left .focus {
	text-align: center;
	width: 210px;
	position: relative;
}

.focus span {
	width: 210px;
	position: absolute;
	height: 20px;
	line-height: 20px; left : 0;
	bottom: 2px;
	background: url(/statics/images/transparentBlack-bg.png) repeat left top;
	display: inline-block;
	left: 0;
}

.focus span a {
	color: #ffffff;
}

.left .leftbt {
	width: 208px;
	border: 1px solid #CAEFFF;
	height: 130px;
	overflow: hidden;
	padding-top: 4px;
}

.left .leftbt span {
	width: 208px;
	overflow: hidden;
	display: block;
	text-align: left;
	height: 18px;
	line-height: 18px;
}

.content .moddle {
	width: 260px;
	padding-left: 16px;
	height: 300px;
	float: left;
}

.moddle .fread {
	height:148px;
}

.moddle .fread .tp {
	text-align: center;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-weight: bold;
}
.fread .md{
	height:100px
}
.fread .md span{
	display: block;
	text-align: left;
	height:20px;
	line-height: 21px;
	overflow: hidden;
}
.fread .tp a {
	color: #2ca3ce;
}

.moddle .tp a:hover {
	
}

.content .right {
	width: 160px;
	height: 300px;
	float: right;
}
a img{
	list-style: none;
	border: 0;
}