#album{
	display:block;
	border: 1px #c1d3ea solid;
	background: #e8f2fe;
	font-size:12px;
	padding:10px;
	margin:0px;
}
#album a{
	color:#666;
	text-decoration:none;
	line-height:18px;
	padding:2px 2px 0px 0px;
}
#album a:hover{
	text-decoration:underline;
	color:#0b8ab6
}
#album li{
	list-style:none;
	padding:5px;
	background-color:white;
	display:inline-block;
	border: 1px #c1d3ea solid;
	margin:10px;
}
#album img{
	width:120px;
	height:120px;
	display:block;
}
#album span{
	width:10px;
	height:10px;
	display:block;
	color:red;
	cursor:pointer;
	float:right;
	padding:2px 2px 0px 0px;

}
#album .actived{
	background-color:#D7FDCE;
}


.upload_preview{
	border:1px solid #efefef;
	width:450px;
	margin:10px 0px;
}
.upload_preview img{
	width:50px;
	height:50px;
	float:left;
}
.progress_div{
	width:300px;
	margin-left:10px;
	float:left;
}
.upload_append_list{
	height:50px;
	padding:10px;
}
.upload_preview a{
	line-height:50px;
	margin-left:20px;
}

